---
import Header from '@components/Header.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Blog">
  <Header />
  <section class="content blog">
    <h1>Blog</h1>
  </section>
</BaseLayout>
