---
import ButtonLink from '@components/ButtonLink.astro';
import Header from '@components/Header.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Contattami">
  <section class="content contattami">
    <Header image={true} />
    <h1>Contattami</h1>
    <form action="#" method="POST">
      <textarea name="" id="message" rows="10"></textarea>
      <div class="invia">
        <ButtonLink>Invia &rarr;</ButtonLink>
      </div>
    </form>
  </section>
</BaseLayout>

<style>
  section.contattami {
    align-self: stretch;
  }
  textarea {
    width: 100%;
  }

  .invia {
    display: flex;
    justify-content: end;
  }
</style>
