---
import BaseLayout from '../layouts/BaseLayout.astro';
import ButtonLink from '@components/ButtonLink.astro';
import CardBig from '@components/CardBig.astro';
import placeholder1 from '@images/placeholder1.jpg';
import placeholder2 from '@images/placeholder2.jpg';
import placeholder3 from '@images/placeholder3.jpg';

import Header from '@components/Header.astro';
---

<BaseLayout title="Home">
  <Header />
  <section class="content chi-sono">
    <p>Ciao! Sono Davide</p>
    <h1>
      Sono uno sviluppatore che crea esperienze web intuitive e performanti.
    </h1>
    <ButtonLink
      ><a href="/astro-blog-dev-portfolio/chi_sono">Chi sono &rarr;</a
      ></ButtonLink
    >
  </section>
  <section class="portfolio">
    <h2>Il mio lavoro</h2>
    <CardBig
      image={placeholder1}
      title="Learn Web Development"
      tags="Typescript,Svelte"
    />
    <div class="other-cards">
      <CardBig
        image={placeholder2}
        title="Learn Web Development"
        tags="Typescript, Astro"
      />
      <CardBig
        image={placeholder3}
        title="Learn Web Development"
        tags="Typescript, React"
      />
    </div>

    <ButtonLink
      ><a href="/astro-blog-dev-portfolio/portfolio"
        >Tutti i miei progetti &rarr;</a
      ></ButtonLink
    >
  </section>
</BaseLayout>

<style>
  h1 {
    margin-bottom: 0;
  }
  .other-cards {
    @media (min-width: 40rem) {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 32px;
    }
  }
</style>
