---
import HomeNavbar from '@components/HomeNavbar.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Davide Pedrotti | Home">
  <header>
    <HomeNavbar />
  </header>
  <h1>ciao</h1>
</BaseLayout>
