---
import Header from '@components/Header.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Portfolio">
  <Header />
  <section class="portfolio">
    <h1>Portfolio</h1>
  </section>
</BaseLayout>

<style></style>
