---
import Burger from './Burger.astro';
---

<nav>
  <Burger />
</nav>

<style>
  nav {
    margin-top: 80px;
  }
  menu {
    display: flex;
    list-style: none;

    li {
      cursor: pointer;

      a {
        text-decoration: none;
      }
    }
  }
</style>
