---
const { pathname } = Astro.url;
const page = '/' + pathname.split('/').at(2);
---

<div class="main-container">
  <input type="checkbox" />
  <menu id="menu">
    <li><a href="/astro-blog-dev-portfolio">Home</a></li>
    <li><a href="/astro-blog-dev-portfolio/chi_sono">Chi sono</a></li>
    <li><a href="/astro-blog-dev-portfolio/portfolio">Portfolio</a></li>
    <li><a href="/astro-blog-dev-portfolio/blog">Blog</a></li>
    <li><a href="/astro-blog-dev-portfolio/contattami">Contattami</a></li>
  </menu>

  <div class="burger">
    <div class="line-middle"></div>
  </div>
</div>

<script define:vars={{ page }}>
  const entries = document.querySelectorAll('#menu li');
  const hrefs = Array.from(entries).map(
    (entry) => '/' + entry.children[0].href.split('/').at(-1)
  );
  hrefs.forEach((href) => {
    if (page === '/') {
      entries[0].classList.add('active');
    } else if (page.startsWith(href)) {
      entries[0].classList.remove('active');
      const index = hrefs.indexOf(href);
      entries[index].classList.add('active');
    }
  });
</script>

<style>
  .main-container {
    --line-height: 2px;
    --height: 30px;
    --width: 30px;
    --space: 15px;
  }

  menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #333;
    color: #fff;
    transform: scale(0);
    opacity: 0;
    z-index: 50;
    transition: 0.3s;
    font-size: 1.7rem;
    border-radius: 100%;

    li {
      padding: 0 10px;
      @media (min-width: 40rem) {
        padding: 0;
      }

      &.active {
        border-bottom: 2px solid #fff;

        @media (min-width: 40rem) {
          border-bottom: 2px solid #333;
        }
      }
    }

    @media (min-width: 40rem) {
      position: static;
      width: 100%;
      height: unset;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: unset;
      background-color: transparent;
      color: #333;
      transform: scale(1);
      opacity: 1;
      transition: 0.3s;
      font-size: 1.4rem;
      border-radius: unset;
    }
  }

  .burger,
  input[type='checkbox'] {
    position: fixed;
    top: var(--space);
    right: var(--space);
    width: var(--width);
    height: var(--height);
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
    background-color: #ffffffcc;
    border-radius: 50%;

    .line-middle {
      height: var(--line-height);
      margin: 0 3px;
      background-color: #333;
      transition: 0.3s;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 6px;
      right: 6px;
      height: var(--line-height);
      background-color: #333;
    }

    &::before {
      top: 6px;
    }
    &::after {
      bottom: 6px;
    }
  }

  input[type='checkbox'] {
    opacity: 0;
    z-index: 110;
  }

  input:checked ~ .burger {
    height: var(--height);
    z-index: 101;
  }

  input:checked ~ .burger > .line-middle {
    opacity: 0;
    height: var(--height);
  }
  input:checked ~ .burger::before {
    animation: toggleBefore 0.6s forwards ease-out;
  }
  input:checked ~ .burger::after {
    animation: toggleAfter 0.6s forwards ease-in-out;
  }

  input:checked + menu {
    opacity: 0.9;
    transform: scale(1);
    border-radius: unset;
  }

  @keyframes toggleBefore {
    50% {
      top: 50%;
      transform: translateY(-50%);
    }

    100% {
      top: 50%;
      transform: translateY(-50%) rotate(135deg);
    }
  }
  @keyframes toggleAfter {
    50% {
      bottom: 50%;
      transform: translateY(50%);
    }

    100% {
      bottom: 50%;
      transform: translateY(50%) rotate(-135deg);
    }
  }

  @media (min-width: 40rem) {
    input[type='checkbox'],
    .burger {
      display: none;
    }
  }
</style>
