<button>
  <slot />
</button>

<style>
  button {
    margin-top: 16px;
    font-size: 1.1rem;
    background-color: transparent;
    padding: 4px 10px 1px;
    color: #333;
    border: none;
    border-bottom: 2px solid #333;
    border-radius: 0px;

    &:hover {
      background-color: #666;
      color: #fff;
      border-radius: 5px;
    }
  }
</style>
