---
import { Image } from 'astro:assets';

interface Props {
  image: ImageMetadata;
  title: string;
  tags: string;
}

const { image, title, tags }: Props = Astro.props;

const tagsArray = tags.split(',');
---

<div class="card-container">
  <Image src={image} alt="placeholder1" />
  <div class="content">
    <div class="description">
      <h3>{title}</h3>
      <ul class="tags">
        {
          tagsArray.map((tag) => {
            return <li>[{tag}]</li>;
          })
        }
      </ul>
    </div>
    <a href="#">&rarr;</a>
  </div>
</div>

<style>
  .card-container {
    @media (min-width: 40rem) {
      flex: 1;

      &:not(:first-of-type) {
        margin-bottom: 0;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;

      @media (min-width: 40rem) {
        border-radius: 10px;
      }
    }

    .content {
      padding-top: 8px;
      display: flex;
      justify-content: space-between;
      align-items: end;

      a {
        border: 1px solid #333;
        border-radius: 5px;
        padding: 5px 10px;
      }
    }
    ul {
      display: flex;
      gap: 10px;
      list-style: none;

      li {
        font-size: 0.7rem;
        color: #666;

        @media (min-width: 40rem) {
          font-size: 1.2rem;
        }
      }
    }
  }
  .card-container:not(:last-of-type) {
    margin-bottom: 64px;
  }
</style>
