---
import { Image } from 'astro:assets';
import Burger from './Burger.astro';
import me from '@images/davide_b_w.CATePR2S_cutted_3.jpg';

interface Props {
  image?: boolean;
}
const { image } = Astro.props;
---

<header>
  <nav>
    {image && <Image src={me} alt="me" />}
    <Burger />
  </nav>
</header>

<style>
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @media (min-width: 40rem) {
      position: static;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;

    @media (min-width: 40rem) {
      flex-direction: column;
    }

    img {
      width: 80px;
      height: 80px;
      padding: 10px 0 0 10px;
      object-fit: cover;
      border-radius: 100%;

      @media (min-width: 40rem) {
        order: 2;
        display: none;
      }
    }
  }
  menu {
    display: flex;
    @media (min-width: 40rem) {
      order: 1;
    }

    li {
      cursor: pointer;
    }
  }
  @media (min-width: 40rem) {
    header {
      padding: 40px 0px;
    }
  }
</style>
