---
import { Image } from 'astro:assets';
import Burger from './Burger.astro';
import me from '@images/davide_b_w.CATePR2S_cutted_3.jpg';

interface Props {
  image?: boolean;
}
const { image } = Astro.props;
---

<header>
  <nav>
    {image && <Image src={me} alt="me" />}
    <Burger />
  </nav>
</header>

<style>
  header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
  }
  nav {
    display: flex;
    justify-content: space-between;

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 100%;
    }
  }
  menu {
    display: flex;

    li {
      cursor: pointer;
    }
  }
</style>
