---
import Burger from './Burger.astro';
---

<nav>
  <Burger />
</nav>

<style>
  menu {
    display: flex;
    list-style: none;

    li {
      cursor: pointer;

      a {
        text-decoration: none;
      }
    }
  }
</style>
