@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.content {
  flex: 1;
  @media (min-width: 40rem) {
    padding-top: 64px;
  }
}

h1 {
  margin-bottom: 24px;
  @media (min-width: 40rem) {
    font-size: 3rem;
  }
}

h2 {
  margin: 32px auto 16px;
  @media (min-width: 40rem) {
    font-size: 2rem;
  }
}
h3 {
  margin: 0px auto;
  @media (min-width: 40rem) {
    font-size: 1.6rem;
  }
}

p,
button {
  line-height: 1.7em;
  @media (min-width: 40rem) {
    font-size: 1.2rem;
  }
}
menu {
  list-style: none;
}

li {
  cursor: pointer;
  color: inherit;
  font-size: inherit;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
